@import 'assets/stylesheets/colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login {
    max-width: 440px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1px 4px $trueGray-500;

    &__heading {
      font-size: 2rem;
      font-weight: 200;
      margin: 1rem 0;
    }

    &__description {
      font-size: 1rem;
      font-weight: 200;
      line-height: 1.5rem;
      margin: 1rem 0;
    }

    &__links {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__button {
        display: flex;
        padding: 0.75rem;
        width: 100%;
        background-color: $trueGray-200;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0;
        border-radius: 3px;
        border: none;

        &__icon {
          width: 24px;
          height: 24px;
          margin-right: 0.5rem;
        }

        &:hover {
          cursor: pointer;
          background-color: $trueGray-300;
        }
      }
    }
  }
}
